body{

background-color: rgb(179, 226, 136);
font-size: 30px;
font-family: 'Courier New', Courier, monospace;

}

h1{
color: rgba(228, 102, 144, 0.705)


}


p{
    color: rgb(236, 91, 147);
font-size: 138px;
font-family: fantasy;

}
